<p class="mb-0" style="font-size: 20px;"><strong>Cart Total:
        £{{ total|floatformat:2 }}</strong></p>
<p style="font-size: 18px;">Delivery: £{{ delivery|floatformat:2 }}</p>
<h4 style="font-family: 'Bebas Neue', sans-serif; letter-spacing: 2px; font-size: 35px;">
    <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
{% if free_delivery_delta > 0 %}
<span class="mb-1 text-danger" style="font-family: 'Josefin Sans', sans-serif; font-size: 18px; font-weight: 600;">
    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong>
    more!
</span>
{% endif %}