body {
    background-color: black;
    padding-top: 98px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    height: 80px;
    background-color: #d40b0b;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    color: #ffffff;
}

p {
    color: red;
}