body {
    display: flex;
    flex-direction: column;
    background: #f5dde0;
    min-height: 100vh;
}

a {
    color: #0567d0;
}

a:hover {
    color: white;
}

i {
    font-size: 150%;
    margin: 1%;
}

a {
    text-decoration: none !important;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #DA8791;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 27px;
    color: white;
    letter-spacing: 3px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 27px;
    color: #7C3F5A;
    font-weight: bolder;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

hr {
    background-color: white;
    border: 0;
    height: 1px;
}

/* Navbar */

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar-toggler {
    border: white solid 2px !important;
}

.navbar li,
#main-menu-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    text-transform: uppercase;
}

#top-nav p {
    font-weight: bolder;
}

#top-nav h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bolder;
}

.nav-font {
    color: white;
}

.dropdown-menu {
    background-color: #f5dde0;
    border: 2px solid #7C3F5A !important;
}

.dropdown-divider {
    border-color: #7C3F5A;
}

.dropdown-item {
    color: #7C3F5A !important;
    font-weight: 800;
}

/* Search bar */

#search-bar {
    background-color: #9d5173;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.search-placeholder::placeholder {
    color: white !important;
}

/* Delivery banner */

#delivery-banner {
    background-color: #f0c7cc;
}

#delivery-banner h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #7C3F5A;
    letter-spacing: 2px;
    font-size: 18px;
}

#delivery-banner i {
    font-size: 100%;
}

/* Footer */

footer {
    height: 80px;
    background-color: #7C3F5A;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

/*Main page - index.html */

.home-background {
    background: url('/media/background1.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100vh;
}

.shop-now-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-now-btn {
    background: #7C3F5A;
    color: white;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: #DA8791;
    color: white;
}

#price {
    font-family: 'Bebas Neue', sans-serif;
    color: #7C3F5A;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: bolder;
}

.jumbotron {
    background-color: #d67782;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 0;
    padding: 2rem 2rem;
}

.jumbotron-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
    letter-spacing: 2px;
}

#mc-embedded-subscribe,
#mce-EMAIL {
    background: #7C3F5A !important;
    color: white !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: white !important;
}

#mce-EMAIL {
    border-width: 2px !important;
}

.asterisk {
    color: #7C3F5A !important;
}

/* books.html (Products page) */

.card {
    border-width: 5px;
    border-style: solid;
    border-color: #7C3F5A;
    background-color: #7C3F5A;
    color: white;
}

.card-footer {
    background-color: #7C3F5A;
}

.card p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.card h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#book-number-container {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: #7C3F5A;
}

#book-number-container p {
    font-size: 18px;
}

.sort-box {
    border: solid 3px white;
    background-color: #9d5173;
    color: white;
}

/* book_details.html (Book detail page) */

.img-thumbnail {
    border-color: #7C3F5A;
    background-color: #7C3F5A;
}

.book-details-container p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #7C3F5A
}

.book-details-container h3 {
    color: #7C3F5A;
    font-size: 50px;
}

.book-details-container i {
    font-size: 100%;
}

.book-details-container hr {
    background-color: white;
    border: 0;
    height: 1px;
}

.synopsis-container p {
    font-size: 20px;
    font-weight: 600;
    color: #7C3F5A;
}

.synopsis-container h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
}

.review-container p {
    font-size: 18px;
    font-weight: 600;
    color: #7C3F5A;
}

.review-container h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.review-container h5 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    color: #7C3F5A;
    font-style: italic;
}

.submit-review {
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#posted-by {
    font-size: 16px;
    font-style: italic;
}

label {
    font-size: 16px;
    color: #7C3F5A;
    font-style: italic;
}

.textinput,
input[type="text"] {
    background-color: #7C3F5A;
    border: white solid 2px;
}

.textarea {
    background-color: #7C3F5A;
    border: white solid 2px;
}

::placeholder {
    color: rgb(190, 187, 187) !important;
    font-style: italic;
}

/* cart.html */

.cart-container h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #7C3F5A;
}

.cart-container p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #7C3F5A;
}

.qty_input {
    background-color: #7C3F5A;
    border: 2px solid white;
    color: white;
}

#book-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: #7C3F5A;
}

#book-author {
    font-size: 18px;
}

#sku-number {
    font-size: 14px;
}

#book-price,
#book-subtotal {
    font-size: 20px;
}

.update-book,
.delete-book,
.submit-review,
input[id='id_image'] {
    background: #7C3F5A;
    color: white;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: white;
}

.update-book:hover,
.update-book:active,
.update-book:focus {
    background: #DA8791;
    color: white;
}

.delete-book:hover,
.delete-book:active,
.delete-book:focus {
    background: red;
    color: white;
}

/* Messages / toasts */

.message-window {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    color: #7C3F5A;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

#toast-book-title {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;

}

.cart-container p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #7C3F5A;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* allauth templates */

#allauth-h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #7C3F5A;
}

.allauth-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    color: #7C3F5A;
}

input[type='submit']:not([id='review-submit-btn']) {
    background: #7C3F5A;
    color: white;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

input[type='submit']:hover,
input[type='submit']:active,
input[type='submit']:focus {
    background: #DA8791;
    color: white;
}

.form-control:focus[id='q-input'] {
    color: white;
}

.form-control:focus[id='search-bar'] {
    color: white;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* Book form (add/edit book) */

.add-form-input {
    background-color: #7C3F5A;
    border: white solid 2px;
    color: white;
}

.invalid-feedback {
    color: red !important;
    font-size: 16px !important;
}

.img-input {
    background: #7C3F5A;
    color: white;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 100%;
}

/* Media queries */

@media (max-width: 991px) {
    #delivery-banner h2 {
        font-size: .9rem;
    }

    #welcome {
        font-size: 30px;
    }

    #newsletter-header {
        font-size: 30px !important;
    }

    #welcome-msg {
        font-size: 18px !important;
    }
}