{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container cart-container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 mt-5">404 - Page not found</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="mb-5">It looks like you got lost... Click on the button below to go back to the shop.</p>
            <a href="{% url 'home' %}" class="btn shop-now-btn">Home</a>

        </div>
    </div>
</div>
{% endblock %}