<!-- Main nav -->
<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav w-auto mr-auto">
        <li class="active nav-item mr-2">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item mr-2 dropdown">
            <!-- All Books -->
            <a class="nav-link" href="#" id="all-books" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">All Books</a>
                <!-- All Books sorting -->
            <div class="dropdown-menu" aria-labelledby="all-books">
                <a href="{% url 'books' %}?sort=title&direction=asc" class="dropdown-item">By Title</a>
                <a href="{% url 'books' %}?sort=author&direction=asc" class="dropdown-item ">By Author</a>
                <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?sort=genre&direction=desc" class="dropdown-item ">By Genre</a>
                <a href="{% url 'books' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>
        <li class="nav-item mr-2 dropdown">
            <!-- Books by genre -->
            <a class="nav-link" href="#" id="genres" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Genres</a>
            <div class="dropdown-menu" aria-labelledby="genres">
                <a href="{% url 'books' %}?genre=classics" class="dropdown-item">Classics</a>
                <a href="{% url 'books' %}?genre=crime" class="dropdown-item">Crime</a>
                <a href="{% url 'books' %}?genre=fantasy" class="dropdown-item">Fantasy</a>
                <a href="{% url 'books' %}?genre=historical_fiction" class="dropdown-item">Historical Fiction</a>
                <a href="{% url 'books' %}?genre=horror" class="dropdown-item">Horror</a>
                <a href="{% url 'books' %}?genre=romance" class="dropdown-item">Romance</a>
                <a href="{% url 'books' %}?genre=science_fiction" class="dropdown-item">Science-Fiction</a>
            </div>
        </li>
        <li class="nav-item mr-2">
            <!-- Newsletter -->
            <a class="nav-link" href="{% url 'home' %}#link-to-newsletter">Newsletter</a>
        </li>
        <li class="nav-item mr-2">
            <!-- Contact us -->
            <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
        </li>
    </ul>
    <form method="GET" action="{% url 'books' %}">
        <div class="input-group w-100 d-none d-lg-flex">
            <!-- Search bar -->
            <label for="search-bar" class="visually-hidden" style="color:white">Search here</label>
            <input class="form-control border rounded-left search-placeholder" id="search-bar" type="text" name="q"
                placeholder="Search all books">
            <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-right" aria-label="Search"
                    type="submit">
                    <span class="icon">
                        <i class="fas fa-search" style="color: white;"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>