<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav w-auto mr-auto">
        <li class="active nav-item mr-2">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item mr-2 dropdown">
            <a class="nav-link" href="#" id="all-books" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">All Books</a>
            <div class="dropdown-menu" aria-labelledby="all-books">
                <a href="" class="dropdown-item">By Title</a>
                <a href="" class="dropdown-item ">By Author</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Genre</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>
        <li class="nav-item mr-2 dropdown">
            <a class="nav-link" href="#" id="genres" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Genres</a>
            <div class="dropdown-menu" aria-labelledby="categories">
                <a href="" class="dropdown-item">Classics</a>
                <a href="" class="dropdown-item">Crime</a>
                <a href="" class="dropdown-item">Fantasy</a>
                <a href="" class="dropdown-item">Historical Fiction</a>
                <a href="" class="dropdown-item">Horror</a>
                <a href="" class="dropdown-item">Romance</a>
                <a href="" class="dropdown-item">Science-Fiction</a>

        </li>
        <li class="nav-item mr-2 dropdown">
            <a class="nav-link" href="#" id="offers" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Offers</a>
            <div class="dropdown-menu" aria-labelledby="offers">
                <a href="" class="dropdown-item">By Title</a>
                <a href="" class="dropdown-item ">By Author</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Genre</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
    <form method="GET" action="">
        <div class="input-group w-100 d-none d-lg-flex">
            <input class="form-control border border-black rounded-left"
                style="background-color: #9d5173; color: #DA8791;" type="text" name="q" placeholder="Search books">
            <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-right" type="submit">
                    <span class="icon">
                        <i class="fas fa-search" style="color: white;"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>