<!-- Mobile nav -->
<ul>
    <li class="list-inline-item dropdown">
        <!-- Account -->
        <a class="nav-link d-block d-lg-none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false" aria-label="Account">
            <div class="text-center nav-font">
                <div><i class="fas fa-user fa-lg"></i></div>
            </div>
        </a>
        <div class="dropdown-menu border-0">
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <a href="{% url 'add_book' %}" class="dropdown-item">Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
    <li class="list-inline-item">
        <!-- Search -->
        <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-label="Search"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-search fa-lg text-white"></i></div>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" style="background-color: #DA8791;"
            aria-labelledby="mobile-search">
            <form method="GET" action="{% url 'books' %}">
                <!-- Search bar -->
                <div class="input-group w-100">
                    <label for="q-input" class="visually-hidden">Search here</label>
                    <input class="form-control border border-black rounded-left search-placeholder" id="q-input" style="background-color: #7C3F5A; font-size: 1rem;
                    font-weight: 400 !important;" type="text" name="q" placeholder="Search all books">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-right" type="submit"
                            aria-label="Search">
                            <span class="icon">
                                <i class="fas fa-search" style="color: #7C3F5A;"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item">
        <!-- Cart -->
        <a class="nav-link d-block d-lg-none" href="{% url 'view_cart' %}" aria-label="Cart">
            <div class="text-center nav-font">
                <div><i class="fas fa fa-shopping-cart fa-lg"></i></div>
            </div>
        </a>
    </li>
</ul>