<li class="list-inline-item">
    <!-- Search -->
    <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg text-white"></i></div>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" style="background-color: #DA8791;" aria-labelledby="mobile-search">
        <form method="GET" action="">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-left"
                    style="background-color: #7C3F5A; color: #DA8791;" type="text" name="q"
                    placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-right" type="submit">
                        <span class="icon">
                            <i class="fas fa-search" style="color: #7C3F5A;"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <!-- Account -->
    <a class="nav-link d-block d-lg-none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
        <div class="text-center nav-font">
            <div><i class="fas fa-user fa-lg"></i></div>            
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="navbar-dropdown">
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="" class="dropdown-item">Management</a>
        {% endif %}
        <a href="" class="dropdown-item">Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <!-- Cart -->
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="">
        <div class="text-center nav-font">
            <div><i class="fas fa fa-shopping-cart fa-lg"></i></div>
        </div>
    </a>
</li>