{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<h2 class="mt-5 mb-4" id="allauth-h2">{% trans "Password Reset" %}</h2>
<hr>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="allauth-p">
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="btn shop-now-btn" href="{% url 'account_login' %}">Back to Login</a>
    <input type="submit" class="btn shop-now-btn" value="{% trans 'Reset My Password' %}" />
</form>

<p class="allauth-p mb-5 mt-3">{% blocktrans %}If you're unable to reset it, please contact us.{% endblocktrans %}</p>
{% endblock %}