{% load static %}

<!Doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A bookshop selling a range of books in different genres.">
    <meta name="keywords" content="books, bookshop, independent bookseller, classic books, romance books, horror books,
        thriller books, science-fiction books, fantasy books, bookworm paradise">
    {% endblock %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">

    {% block corecss %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@200&display=swap">
    <!-- Mail Chimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Bookworm Paradise</title>
</head>

<body>
    <header>
        <!-- Top Navbar / Header -->
        <div id="top-nav" class="row pt-lg-2 mr-0 d-none d-lg-flex" style="background-color: #9d5173">
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 d-none d-sm-block">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <!-- Logo -->
                    <h1 class="logo-font text-black my-0 nav-font">Bookworm Paradise</h1>
                </a>
            </div>
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="navbarDrop" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <div class="text-center nav-font">
                                <!-- Account -->
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <h2 class="my-0">Account</h2>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" id="main-menu-link">
                            {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                            <a href="{% url 'add_book' %}" class="dropdown-item">Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <!-- Cart -->
                        <a class="nav-link" href="{% url 'view_cart' %}">
                            <div class="text-center nav-font">
                                <div><i class="fas fa fa-shopping-cart fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main Navbar -->
        <nav class="navbar pb-2 navbar-dark navbar-expand-lg" style="background-color: #7C3F5A;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-nav.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
        <!-- Free delivery banner -->
        <div id="delivery-banner" class="row text-center" style="margin: auto">
            <div class="col">
                <h2 class="my-0"><i class="fas fa-star" style="color: yellow;"></i>Free delivery on orders over
                    £{{ free_delivery_threshold }}!<i class="fas fa-star my-0 py-0" style="color: yellow;"></i></h2>
            </div>
        </div>
    </header>

    <!-- Messages / notifications -->
    {% if messages %}
    <div class="message-window">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}

    {% endblock %}

    <footer>
        <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Social media links-->
                    <ul class="social-media pl-0 ml-0">
                        <li>
                            <a href="https://www.facebook.com/Bookworm-Paradise-106344228834492" target="_blank"
                                rel="noopener nofollow" aria-label="Visit our Facebook page (opens in a new tab)"><i
                                    class="fab fa-facebook nav-font"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/?lang=en-gb" target="_blank" rel="noopener nofollow"
                                aria-label="Visit our Twitter page (opens in a new tab)"><i
                                    class="fab fa-twitter nav-font"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener nofollow"
                                aria-label="Visit our Instagram page (opens in a new tab)"><i
                                    class="fab fa-instagram nav-font"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Java Script-->
    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/783c3a5c57.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <!-- JS displaying messages / notifications -->
    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}
</body>

</html>