/* Stripe */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: solid 2px #7C3F5A;
    border-radius: 5px;
    background-color: white;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* Delivery details container */

.fieldset-label {
    position: relative;
    right: .5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #7C3F5A;
}

.emailinput {
    background-color: #7C3F5A;
    border: solid 2px white;
}

.InputElement {
    color: #7C3F5A;
}

.country-input {
    background-color: #7C3F5A;
    border: white solid 2px;
    font-style: italic;
    color: white;
}

select,
select option {
    color: #7C3F5A;
}

#amount-info,
.fa-exclamation-circle {
    font-size: 18px !important;
}

/* Order summary container */

#book-title-checkout {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #7C3F5A;
    font-weight: lighter;
}

.checkout-total {
    font-size: 17px !important;
}

/* checkout_success.html */

.order-confirmation-wrapper {
    background-color: #7C3F5A;
}

.checkout-success p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.checkout-success h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #7C3F5A;
}

.order-confirmation-wrapper p {
    font-size: 17px;
}

.order-info-label {
    font-family: 'Bebas Neue', sans-serif;
    color: #e9bcc1;
    letter-spacing: 3px;
    font-size: 20px;
}

.border-style {
    border: 2px solid white;
    border-radius: 5px;
}

/* Loading overlay */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(124, 63, 90, 0.85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}